# note : all dependencies are locked to a specific version
#        to ensure reproducibility of the environment ;
#        exceptions are made for some minor versions

termcolor         >= 1.1.0, < 2.4   # for colored output (used in the logger)
python-dotenv     >= 0.20.0, < 1.1  # load environment variables from a .env file (or exported in the shell)

typing_extensions >= 4.1.0, < 4.7   # mainly for `override` decorator
open3d            >= 0.15, < 0.18   # for point cloud processing
numpy             >= 1.19.0, < 1.26 # for arrays and stuff
pyjson5           == 1.6.*          # for parsing json5 files
